<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <title>Mi HERMOSA familia</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<nav>
    <a href="../index.html">Quien soy</a>  
    <a href="hobbies.html">Que me gusta hacer</a> 
</nav>
<body>
    <main>
        <header> 
            <h1>MI HERMOSA FAMILIA 👶</h1>
        </header>
        <section>
            <p>Mi HERMOSA familia está conformada por:</p>
            <ul>
                <li>
                    <div class="image-container">
                        <img class="f1" src="../assets/imagenes/f1.jpeg">
                        <p class="text-next-image">Mi sobrino, siempre juego con el y le enseño a jugar futboll.</p>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img class="f1" src="../assets/imagenes/f2.jpeg">
                        <p class="text-next-image">Mi sobrina las mas pequeña y tierna de la familia.</p>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img class="f1" src="../assets/imagenes/f3.jpg">
                        <p class="text-next-image">Mi mamá, la persona más importante en mi vida.</p>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img class="f1" src="../assets/imagenes/f4.jpg">
                        <p class="text-next-image">Mi papá, siempre me apoyan en todo momento.</p>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img class="f1" src="../assets/imagenes/f5.jpg">
                        <p class="text-next-image">Mi hermana, mi mejor amiga y compañera.</p>
                    </div>
                </li>
            </ul>
        </P>
        </section>
        <footer>
            <p> Página realizada por Daniel Gonzalez S. &copy; Todos los derechos reservados 2024</p>
        </footer>
    </main>
</body>
</html>