<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <title>Mis HOBBIES</title>
    <link rel="stylesheet" href="../styles/styles.css">

</head>
<nav>
    <a href="../index.html">Quien soy</a>  
    <a href="familia.html">Mi familia</a>
</nav>
<body>
    <main>
        <header> 
            <h1>MIS HOBBIES ⚽</h1>
        </header>
       
        <section>
            <P>Por el poco tiempo que me deja el SENA no tengo muchos hobbies, pero los que mas suelo hacer son:
                 <ul> 
                    <li> 
                        <div class="image-container">
                            Futboll  </li>
                                <img class="futboll" src="../assets/imagenes/fut.jpg">
                                <p class="text-next-image">Lo que mas amo en esta vida,me ha acompañado toda mi vida.</p>
                        </div>
                    <li>
                        <div class="image-container">
                            Dormir</li>
                                <img class="dormir" src="../assets/imagenes/dormir.jpg"> 
                                <p class="text-next-image">Me ayuda a reponerme despues de hacer mucho código.</p>
                        </div>
                    <li>
                        <div class="image-container">
                             Escuchar Musica</li>
                                <img class="music" src="../assets/imagenes/music.jpg">
                                <p class="text-next-image">Casi siempre escucho musica, bañandome, estudiando, jugando etc.</p>
                        </di>
                    <li>
                        <div class="image-container">
                            Ver Peliculas</li>
                                <img class="peliculas" src="../assets/imagenes/peliculas.jpg">
                                <p class="text-next-image">Me ayudan a distrerme y desaburrirme .</p>
                       </div>
                </ul>
            </P>
        </section>
        <footer>
            <p> Página realizada por Daniel Gonzalez S. &copy; Todos los derechos reservados 2024</p>
        </footer>
    </main>
</body>
</html>